.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    color: white;
    justify-content: space-evenly;
}

h1,h6{
    text-align: center;
}
.grid-item{
    border: 1px solid white;
    border-radius: 5px;
}

.grid-item p{
    padding: -10px;
    text-align: center;
    margin: -1px;
}

.card{
    height: 150px;
    width: 300px;
    background-color: antiquewhite;
}

p {
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.title{
    font-size: 0.9em;
}

.desc{
    font-size: 0.6em;
}

.grid-item:hover .title,
.grid-item:hover .desc {
    opacity: 1;
}





